*{
    padding: 4px;
}
#caja{
   position: fixed;
   left: 50%;
   transform: translate(-50%, 50%);
   padding: 0px;
}
legend{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    text-transform: uppercase;
}
label{
    font-weight: bolder;
    text-transform: uppercase;
}
fieldset{
    padding: 30px;
    border: 5px solid black;
}
hr{
    border: 5px solid black;
    padding: 0px;
    margin-bottom: 15px;
}
input{
    margin-bottom: 15px;
    border: 2px solid black;
}